
/* ######## Pagination */

ul.pagination{
	margin:0px;
	padding:0px;
	overflow:hidden;
	font:12px 'Tahoma';
	list-style-type:none;	
}

ul.pagination li.details{
    padding:7px 10px 7px 10px;
    font-size:14px;
}

ul.pagination li.dot{padding: 3px 0;}

ul.pagination li{
	float:left;
	margin:0px;
	padding:0px;
}

ul.pagination li a img{
	border:none;
}
	
/* #############  COLOR */

ul.pagination li.details{
   color:#666;
}
ul.pagination li a{
	color: #666;
	float: left;
	padding: 12px 18px;
	text-decoration: none;
	background: #fff;
	border: 1px solid #c4c4c4;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	line-height: 22px;
	margin: 15px 5px;
}

ul.pagination li{
	
}

ul.pagination li a:hover, ul.pagination li a.current{	
	background: #ffe902;
    color: #333;
    border: 1px solid #ffe902; 
}

ul.pagination li a{
	color: #666;
	border-color: #c4c4c4;
	background: #fff;
}

ul.pagination li a.current:hover{
	color:#FFFFFF;	
}